:root {
    --promoHeight: 0px;
}

.promoOn {
    --promoHeight: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
}

.grid {
    display: grid;
    grid-template-rows: [promo-end] var(--promoHeight) [header-end] 100px [footer-start] auto [footer-end] 300px; 
    grid-template-columns: [left-col-end] 250px [right-col-start] calc(100% - 500px) [right-col-end] 250px;
    grid-template-areas:    
        "promo promo promo"
        "leftCol header rightCol"
        "leftCol main rightCol"
        "footerArea footerArea footerArea";
}

.promo {
    background-color: black;
    /*grid-column: 1/4;
    grid-row: 1/2;*/
    
    grid-area: promo;
}

.promo.sticky {
    position: fixed;
    left: 0;
    width: 100%;
    height: var(--promoHeight);
}

.siteHeader {
    background-color: lightgray;
    /*grid-column: 2/3;
    grid-row: 2/3;*/
    grid-area: header;
    height: 100px;
}

.siteHeader.sticky {
    position: fixed;
    top: 30px;
    left: 250px;
    width: calc(100% - 500px);    
}

.storeMenuContainer {
    background-color: pink;
    /*grid-column: 1/2;
    grid-row: 2/4;*/
    grid-area: leftCol;
}

.main {
    background-color: lightblue;
    /*grid-column: 2/3;
    grid-row:3/4;*/
    grid-area: main;
}

.userMenuContainer {
    background-color: mediumseagreen;
    /*grid-column: 3/4;
    grid-row: 2/4;*/
    grid-area: rightCol;
}

.siteFooter {
    background-color: rebeccapurple;
    /*grid-column: 1/4;
    grid-row: 4/5;*/
    grid-area: footerArea;
}